.web-scraping-div-margin-top {
    margin-top: 70px;
}

.card-body {
    padding: 40px !important;
}

.index-table {
    margin:0 !important;
    padding: 0 !important;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.index-form-left-margin {
    margin-left: 330px;
}

.index-form-width {
    width: 55%;
}

.navbar-brand {
    margin-left: 50px;
}

.navbar {
    padding: 0px !important;
}

.navbar-nav .nav-link {
    font-size: 20px; 
    margin-right: 70px;
    color: white;
}